* {
	font-family: 'Roboto', sans-serif;
}
html, body {
	margin: 0px;
	padding: 0px;
}
h2 {
	font-size: 36px;
}
h3 {
	font-size: 26px;
	margin-top: 0;
}
header {
	height: 120px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
nav a {
	margin-right: 50px;
	color: black;
	text-decoration: none;
	font-size: 20px;
}
nav a:hover{
	text-decoration: underline;
}
button {
	font-weight: bold;
}
.fixed-container {
	width:1200px;
	padding: 0px 100px;
	margin: 0 auto;
}
.main-block {
	display: flex;
	height:500px;
	background-color: #899DB1;
	justify-content: space-between;
}
.main-block-2 {
	height:400px;
	background-color: #899DB1;
	margin-top: -50px;
}
.main-block-3 {
	display: flex;
	height: 200px;
	background-color: #899DB1;
	justify-content: space-between;
}
.main-block-4 {
	height: 150px;
	background-color: #B48275;
	display: flex;
}
.gg {
	font-size: 20px;
}
.imd img {
	width: 120px;
}
.order-call {
	border:1px solid #000000;
	box-sizing: border-box;
	border-radius: 10px;
	padding: 15px 50px;
	background-color: transparent;
	cursor: pointer;
}
.info {
	margin-top: 50px;
	font-size: 40px;
}
.photo-container {
	width: 500px;
	height: 500px;
	background-image:url("img/font.png");
	background-position: right center;
	background-repeat: no-repeat;
	background-size: 400px;
}
.example-icons {
	margin:40px 0px;
    display: flex;
	justify-content: space-between;
}
.example-item {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	font-size: 14px;
	width: 250px;
}
.example-item a {
	text-decoration: none;
	color: black;
}
.example-icons img  {
	border-color: #3F4550;
	border-size: 20px;
	border-style: solid;
	height: 150px;
	width: 250px;
	margin-bottom: 20px;
}
.footer {
	margin-top: 20px;
	display: flex;
}
.footer-menu {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}
.footer-menu a {
	margin-bottom: 15px;
}
.copy {
	margin-top: 50px;
	margin-left: 250px;
}
.contacts {
	margin-top: 30px;
	margin-left: 300px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}
.contacts b {
	margin-bottom: 15px;
}
.social-links {
	justify-content: flex-end;
	align-items: center;
	margin-top: 20px;
}
.social-container button {
	margin-left: 50px;
}
.example-item a:hover{
	text-decoration: underline;
}

